options(repos = c(PPM = 'https://packagemanager.posit.co/cran/__linux__/bookworm/latest', CRAN = 'https://cran.rstudio.com/'))
options(Ncpus = max(1, parallel::detectCores()))
install.packages(c('parallel', 'lib1', 'lib2', 'lib3', 'lib4', 'lib5', 'lib6', 'lib7', 'lib8', 'lib9', 'lib10', 'lib11', 'lib12'))
