install.packages("lib1", repos="http://cran.rstudio.com/")
install.packages("lib2", repos="http://cran.rstudio.com/")
install.packages("lib3", repos="http://cran.rstudio.com/")
install.packages("lib4", repos="http://cran.rstudio.com/")
install.packages("lib5", repos="http://cran.rstudio.com/")
install.packages("lib6", repos="http://cran.rstudio.com/")
install.packages("lib7", repos="http://cran.rstudio.com/")
install.packages("lib8", repos="http://cran.rstudio.com/")
install.packages("lib9", repos="http://cran.rstudio.com/")
install.packages("lib10", repos="http://cran.rstudio.com/")
install.packages("lib11", repos="http://cran.rstudio.com/")
install.packages("lib12", repos="http://cran.rstudio.com/")
