install.packages("lib1")
install.packages("lib2")
install.packages("lib3")
install.packages("lib4")
install.packages("lib5")
install.packages("lib6")
install.packages("lib7")
install.packages("lib8")
install.packages("lib9")
install.packages("lib10")
install.packages("lib11")
install.packages("lib12")
